[extruder]
step_pin: toolhead:E_STEP
dir_pin: toolhead:E_DIR
enable_pin: !toolhead:E_ENABLE
rotation_distance: 22.6789511
gear_ratio: 50:10
microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
heater_pin: toolhead:E_HEATER
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolhead:E_TEMPERATURE
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 10
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: toolhead:E_TMCUART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_x]
step_pin: DRIVER0_STEP
dir_pin: DRIVER0_DIR
enable_pin: !DRIVER0_ENABLE
endstop_pin: toolhead:gpio29

[tmc2209 stepper_x]
uart_pin: DRIVER0_TMCUART

[stepper_y]
step_pin: DRIVER1_STEP
dir_pin: DRIVER1_DIR
enable_pin: !DRIVER1_ENABLE
endstop_pin: STOP1

[tmc2209 stepper_y]
uart_pin: DRIVER1_TMCUART

[heater_bed]
heater_pin: BED0
sensor_type: Generic 3950
sensor_pin: TB
max_power: 0.6
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.0166
control: pid

[probe]
pin: ^toolhead:PROBE_INPUT

[fan]
pin: toolhead:PART_FAN

[heater_fan hotend_fan]
pin: toolhead:E_FAN

[heater_fan controller_fan]
pin: FAN2

[fan_generic filter]
pin: FAN3

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: T1

[temperature_sensor Toolhead]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[temperature_sensor Toolhead_Chamber]
sensor_type = ATC Semitec 104GT-2
sensor_pin = toolhead:gpio26
min_temp: -50
max_temp: 350

[neopixel status_leds]
pin: toolhead:STATUS_NEOPIXEL

[display]
#  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
#  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB
